body {
  background: rgb(237, 242, 245);
  position: relative;
}
.content {
  animation-name: fade-in;
  animation-duration: 2s;
}
#image-1 {
  height: 400px;
  margin: 20px;
  float: right;
}

.sidebar {
  background: rgb(240, 236, 8);
  float: right;
  width: 25%;
  animation-name: fade-in;
  animation-duration: 2s;
}
#main {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 50px;
  width: 100%;
}
.post {
  border: rgb(36, 19, 110) 3px solid;
  margin: 10px;
  color: rgb(41, 43, 54);
}
.image-grid {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img11 {
  transition: all 1s ease;
  height: 300px;
  width: 500px;
  margin: 10px;
}
.img11:hover {
  height: 320px;
  width: 520px;
}

.post-text {
  color: red;
  margin-left: 20px;
  margin-right: 20px;
}
a {
  margin: 10px;
}

#sut {
  color: blueviolet;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: black 6px 6px;
  transform: translate(450px);
}

.subtitle {
  color: brown;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: black 2px 4px;
}
.topic-subtitle {
  color: rgb(185, 80, 80);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: black 2px 4px;
}
#mid {
  margin-left: 30px;
}
.contact {
  width: 30%;
  height: 300px;
  display: grid;
}
#mesage {
  margin: 20px 10px;
  height: 200px;
  background: antiquewhite;
  
}
#email {
  margin: 20px 10px;
  background-color: antiquewhite;
}
#name {
  margin: 20px 10px;
  background: antiquewhite;
}
#submit {
  margin: 20px 10px;
  width: 100px;
  background: lawngreen;
}

.form-main{
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer p{
  padding: 2em;
  color: white;
}
.footer{
  
  text-align: center;
  width: 100%;
  position: absolute;
  
}

.hero1 {
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(24deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.hero1 h1{
  padding: 1em;
}

.borderr{
  border: 1px solid red;
  
}

.table1{
  font-size: 14px;
  width: 100%;
}

.create-main{
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}

.dashboard-help{
  height: 600px;
}

.delete-main{
  text-align: center;
  margin-bottom: 300px;
}

.margin3{
  margin: 400px;
}

.userImage {
  width: 100px;
  height: 100px;
}

.name{
  align-self: center;
  justify-self: center;
  width: 100%;
}

.det-main{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.det-right{
  width: 30%
}

.det-left{
  width: 20%
}

.det-center{
  width: 30%
}


@media screen and (max-width: 767.999px) {
  .table1{
    font-size: 12px;
    width: 100%;
  }

  .not-visible{
    display: none;
  }

  .userImage{
    width: 40px;
    height: 40px;
  }
  .det-main{
    flex-direction: column;
    align-items: center;
  }
  .det-right{
    width: 80%
  }
  
  .det-left{
    width: 80%
  }
  
  .det-center{
    width: 80%
  }
}



